<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>652368417331-1k2t1k8aks1g5483andfd5nja06th71d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.652368417331-1k2t1k8aks1g5483andfd5nja06th71d</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>652368417331-e19p9k238invhhrpv7ak6839qrj38svr.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA4r4Q63ZIEuVjE11NiV-p9asU6aAsxc4o</string>
	<key>GCM_SENDER_ID</key>
	<string>652368417331</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.knguyenzzz.Boek</string>
	<key>PROJECT_ID</key>
	<string>book-fair-fb8f1</string>
	<key>STORAGE_BUCKET</key>
	<string>book-fair-fb8f1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:652368417331:ios:6643e7ba1eb4b39de88946</string>
</dict>
</plist>